/*| Works When CSS Is More Than 600px |*/

* {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-decoration: none;
}
 
/*| Default Web Formatted Screens |*/

.NavigationBar {
    height: 12.5%;
    left: 0%;
    position: absolute;
    width: 100%;
}

    .NavigationBar ul li {
        display: inline;
        list-style-type: none;
    }

.NavSplitScreen {
    height: 87.5%;
    top:12.5%;
    left: 0%;
    position: absolute;
    width: 100%;
}

.Screen {
    height: 100%;
    left: 0%;
    position: absolute;
    width: 100%;
}

.ScreenDouble {
    height: 200%;
    left: 0%;
    position: absolute;
    width: 100%;
}

.Footer {
    height: 25%;
    left: 0%;
    position: absolute;
    width: 100%;
}

/*| Custom Web Formatted Screens |*/

#SA {
    background-color: slategray;
    top: 0%;
}

#SB {
    background-color: red;
    top: 12.5%;
}

#SC {
    background-color: orange;
    top:100%;
}

#SD {
    background-color: yellow;
    top:200%;
}

#SE {
    background-color: green;
    top:300%;
}

#SF {
    background-color: lightblue;
    top:500%;
}

#SG {
    background-color: blue;
    top:600%;
}