* {
    font-family: sans-serif;
    font-size:1em;
    flex-flow: row;
    text-decoration: none;
}

/* Preset Screens */

.Screen {
    height:100%;
    left:0%;
    width:100%;
    position: absolute;
}

.ScreenDouble {
    height:200%;
    left:0%;
    width:100%;
    position: absolute;
}

.ScreenTriple {
    height:300%;
    left:0%;
    width:100%;
    position: absolute;
}

.ScreenQuad {
    height:400%;
    left:0%;
    width:100%;
    position: absolute;
}

/* Actual Screen Settings */

    #ScreenA {
    top:0%;
    background-color: red;
    }

    #ScreenB {
    top:100%;
    background-color: orange;
    }

    #ScreenC {
    top:200%;
    background-color: yellow;
    }
    
    #ScreenD {
    top:300%;
    background-color: blue;
    }    

    #ScreenE {
    top:400%;
    background-color: green;
    }    