* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    height:auto;
    width:auto;
}

.Screen {
    border: 0px solid black;
    display: block;
    position: absolute;
    left:0px;
    height:100%;
    width:100%;
}

body.window div:nth-child(1) {
    top:0%;
    background: red;
}
body.window div:nth-child(2) {
    top:100%;
    background: orange;
}
body.window div:nth-child(3) {
    top:200%;
    background: yellow;
}
body.window div:nth-child(4) {
    top:300%;
    background: blue;
}