* {
    font-family: Arial, Helvetica, sans-serif;
}

#SA {
    background-color: lightslategray;
    top: 0%;
}

    #NavigationBar {
        background-color: #f6f6f6;
    }

        #NavigationItemA {
            left: 10%;
        }

        #NavigationItemB {
            left: 25%;
        }

        #NavigationItemC {
            left: 40%;
        }

        #NavigationItemD {
            left: 55%;
        }

        #NavigationItemE {
            left: 70%;
        }

        #NavigationItemF {
            left: 85%;
        }

#SB {
    background-color: whitesmoke;
    top: 100%;
}

#SC {
    background-color: lightcoral;
    top: 200%;
}

#SD {
    background-color: lightskyblue;
    top: 300%;
}

#SE { 
    background-color: gray;
    top: 400%;
}
