.fullScreen {
 font-family: Arial, Helvetica, sans-serif;
}

#FullScreen {
    background-color: gray;
}

.section {
    height:100%;
    padding:0%;
    text-align: center;
    width:100%;
}

#SectionOne {
    background-image:url('../_FILES/BitCampBanner.jpg');
    background-size:cover;
    background-position-x: 45%;
    position:absolute;
    top:0px;
    left:0px;
}

#ProfilePicture {
    border-radius: 100%;
    box-shadow: 2px 2px 2px black;
    position:relative;
    top:75px;
    left:0%;
    height:50%;
    width:25%;
}
 #ProfileText {
     color:white;
     font-size:60px;
     position:relative;
     top:75px;
     text-align:center;
     text-shadow: 5px 5px 5px black;
 }

#SectionTwo {
    background-color: whitesmoke;
    position: absolute;
    top:100%;
    left:0px;
}

#SectionThree {
    background-color: yellow;
    position: absolute;
    top:200%;
    left:0px;
}

#SectionFour {
    background-color: green;
    position: absolute;
    top:300%;
    left:0px;
}

#SectionFive {
    background-color: blue;
    position: absolute;
    top:400%;
    left:0px;
}